<script setup>
</script>

<template>
    <div class="demo">
        Demo
        <ui-select />
        <i-bi:arrows-angle-expand style="font-size: 2em; color: red" />
    </div>
</template>

<style scoped>
</style>
