<script setup>

</script>

<template>
    <div class="home text-lg">
        Home
        <router-link to="/demo" class="router-link text-blue-500">
            to demo test
        </router-link>
    </div>
</template>

<style scoped>
.home {
  .router-link {
    display: block;
  }
}
</style>
